<%= "病院詳細画面" %>

<%= @company.name %><br>
<%= @company.introduce %><br>

<%= link_to "コメントする", "#" %><br>

<%= link_to "応募する","/applications/new?x=5" %><br>

 <div class="container">
    <% if user_signed_in? %>
      <%= form_with(model: [@company, @comment], local: true) do |form| %>
        <%= form.text_area :text, placeholder: "コメントする", rows: "2" %>
        <%= form.submit "SEND" %>
      <% end %>
    <% else %>
      <strong><p>※※※ コメントの投稿には新規登録/ログインが必要です ※※※</p></strong>
    <% end %>
    <div class="comments">
      <h4>＜コメント一覧＞</h4>
      <% @comments.each do |comment| %>
        <p>
          <strong><%= link_to comment.user.name, "/users/#{comment.user_id}" %>：</strong>
          <%= comment.text %>
          <%= link_to "削除する" %>
        </p>
      <% end %>
    </div>
  </div>
